*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body , .card-bg{
    background: #EDEDED !important;
}
.imag {
    filter: invert(42%) sepia(98%) saturate(422%) hue-rotate(85deg) brightness(95%) contrast(90%);
}
.card1{
     max-width: 1700px !important;
}
.card2{
    max-width: 1700px !important;
     height: auto !important;
}
.cach{
    width: auto !important;
}

.bovin{
    width: 200px !important;
}
.test{
    color: #65B246 !important;
}
.contenu{
     background: #D2D2D2 !important;
}
.tachet{
    background: #D2D2D2 !important;
}
.gauch-borde{
    border-left: 40px solid rgba(7, 97, 243, 0.998);
}
.gauch-vert{
    border-left: 40px solid #009D67;
}
.gauch-danger{
    border-left: 40px solid #FC941B;
}
.gauch-critique{
    border-left: 40px solid #EA4B5C;
}

.top{
    border-bottom: 2px solid rgb(24, 22, 22) !important;
}
.cercle{
    width: 60px !important;
    height: 60px;
    background: #65B246;
}
.cercle-rouge{
    width: 60px !important;
    height: 60px;
    background: #df3822;
}
.cercle1{
    width: 60px !important;
    height: 40px;
    background: #bcbfbb;
}
.form-check-input{
    font-size: 1.1em;
    border: 1px solid black;
}
a{
    /* text-decoration: none; */
    color: black;
}
header a{
    text-decoration: none !important;
}
.align a{
    text-decoration: none !important;
}

.tail{
    font-size: 18px !important;
}

/* parti 2 */

/* Carte du formulaire */
.form-container {
    background: #fff;
    padding: 30px;
    width: 50%;
    height: 100vh;
}
.login-imag{
    width: 50%;
    background-image: url(Images-2/Login_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
/* Champs */
.field {
    position: relative;
    margin-bottom: 22px;
}

.field input{
    width: 100%;
    padding: 24px;
    border: 2px solid #d7f2cb;
    border-radius: 6px;
    outline: none;
    font-size: 20px !important;
}
.field label {
    position: absolute;
    top: 50%;
    left: 14px;
    background: #fff;
    padding: 0 6px;
    color: #777;
    font-size: 20px;
    transform: translateY(-50%);
    transition: 0.3s;
}

/* Animation label */
.field input:focus{
    border-color: #1976d2;
}
.field input:focus + label,
.field input:valid + label{
    top: 0;
    font-size: 20px;
    color: black;
}


@media (max-width: 768px) {
    .cach{
        display: flex !important;
        position: fixed;
    }
    .contenu{
        padding-left: 120px !important;
        background-color: #65B246;
        width: 100% !important;
    }
    .entete{
        display: none;
    }
    .nav1{
        display: none !important;
    }
    
}